@import "compass/css3";

// Your custom settings file to override Foundation defaults
@import "settings";

$black: #222222;
$neongreen: #98FC83;
$neongreen: lighten($neongreen, 5%);
$neonred: #e74c2d;
$whitesmoke: #F7F7F7;
$green: #50841A;
$mainColor: $neongreen;

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";
// @import "foundation/components/modules/clearing";
// @import "foundation/components/modules/joyride";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

@import "fonts";

@mixin headlineFont() {
	//font-family: share-regular, "Droid Serif", "American Typewriter", "Times New Roman", Times, serif;
	font-family: "Roboto Condensed", "Helvetica Neue", "HelveticaNeue", Arial, Helvetica, sans-serif, sans;

}

@mixin bodyFont() {
	// font-family: gentium-book-basic, "Helvetica Nueu Condensed", "Helvetica Condensed", "Arial Narrow", Arial, Helvetica, sans-serif, sans;
	font-family: "Roboto", "Helvetica Neue", "HelveticaNeue", Arial, Helvetica, sans-serif, sans;

}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
 

@mixin drop-down-animation() {
	// use of keyframes mixin
	@include keyframes(dropdown) {
	  0% {
	  	margin-top: 50px;
	  	//@include translate(0,20%);
	  	// @include scale(0.5);
	  }
	  // 50% {
	  //   background-color: $bgcolor;
	  // }
	  100% {
	  	// @include translate(0,0);
	  	margin-top: 0;
	  } 
	}
}
 
html, body {
	height: 100%;
	min-height: 100%; 
}

html {
	background: url('../images/audio-board-3-sm.jpg') no-repeat fixed 50% 50% $black;
	@include background-size(cover);

	// &.theme-light {
	// 	background-image: url('../images/audio-board-white.jpg');
	// 	background-color: #FFF;
	// }

	@media screen and (max-width: 480px) {
		height: auto;
		background-attachment: scroll;
	}
	@media screen and (min-width: 481px) {
		background-image: url('../images/audio-board-3-md.jpg');
	}

	@media screen and (min-width: 1025px) {
		background-image: url('../images/audio-board-3.jpg');
	}

}	

body {
	@include bodyFont;
	background: url('../images/overlay-black-2.png') repeat fixed 0 0 transparent;
	padding: 20px;
	height: auto;
	max-height: inherit;

}

h1, h2, h3 {
	@include headlineFont;
}

h4, h5, h6 {
	@include bodyFont;
}

hgroup {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}

hr {
	border-color: $black;
}
@include drop-down-animation;

.heading {
	font-size: 48px;
	color: $neongreen;
	margin-bottom: .25em;
	@include text-shadow(2px 2px 0px #000000);

	span {
		// text-transform: uppercase;
	}

}

#intro {
	color: $whitesmoke;
	max-width: 650px;
	margin: 0 auto;
	// height: 430px;
	// position: absolute;
	// left: 50%;
	// top: 50%;
	// margin-left: -325px;  
	// margin-top: -215px;
	padding: 30px;
	background: #111111;
	background: rgba(#111111, 0.85);
	@include border-radius(12px);
	@include box-shadow(0 0 120px rgba(255,255,255,0.15));
	border: 2px solid $black;
	border: 2px solid rgba($black, 0.62);
	// @include transition(all 1s ease-in-out);

	-webkit-animation: dropdown 1s ease-in;
	-moz-animation: dropdown 1s ease-in;
	-ms-animation: drop 1s ease-in;
	animation: dropdown 1s ease-in;

	.csstransitions &.init {

	}

	.heading {
		// font-weight: normal; 

	}


	.button-group {
		clear: left;
		margin-top: 40px;
	}


	@media screen and (max-width: 768px) {

	}

	@media screen and (max-width: 767px) {
		// width: 80%;
		padding: 15px;


	}

	@media screen and (max-width: 480px) {
		// width: 90%;

	}

	@media screen and (min-width: 480px) {
		.button {
			.hide-for-small {
				display: inline !important;
			}
		}
	}
	@media screen and (max-width: 320px) {
		.button {
			font-size: 24px;

			.icon {
				margin: 0;
			}
		}
	}

}
.item {

	.heading {
		font-size: 130%;
		margin-bottom: 1em;
		line-height: 1.5;
		border-left: 1px solid $mainColor;
		padding-left: 10px;
	}

	@media screen and (max-width: 767px) {
		.heading { font-size: initial; }

	}	


}

// #overlay {
// 	position: absolute;
// 	z-index: -1;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	right: 0;
// 	background: url('../images/overlay-black.png') repeat scroll 0 0 transparent;
// 	@include opacity(0.2);
// }

.button {
	background: $black;
	border-color: darken($black, 15%);
	&:hover {
		background: lighten($black, 10%);
	}

	&.email {
		background: lighten($black, 10%);
		border-color: darken($black, 15%);
		&:hover {
			background: lighten($black, 20%);
		}

	}
	.icon {
		vertical-align: text-bottom;
		margin-right: .5em;
	}
}

.circle-photo {
	overflow: hidden; 
	width: 200px;
	height: 200px;
	// @include border-radius(200em);
	-webkit-background-clip: padding-box; background-clip: padding-box;
	@include box-shadow(0px 0px 4px $black);
	border: 2px solid $black;
	margin: 0 30px 15px 0;
	float: left;

	img {
		width: 228px;
		height: 228px;
		max-width: 228px;
	}

	@media screen and (max-width: 767px) {
		width: 150px;
		height: 150px;
		float: none;
		margin: 15px auto;

		img {
			width: 170%;
			max-width: 200%;
			margin-left: -20px;
		}
	}
}
.subheading {
	color: lightgray;
	font-weight: normal;
	font-size: 170%;

	header hgroup & {
		font-size: 27px;

	}

}

@media screen and (max-width: 767px) {

	body {
	}
	header .heading, header .subheading {
		text-align: center;
	}
	header .heading {
		font-size: 39px;
	}
	header .subheading {
		font-size: 19px;
	}

}