[submodule "javascripts/libs/gas"]
	path = javascripts/libs/gas
	url = git@github.com:CardinalPath/gas.git
[submodule "jekyll-hook"]
	path = jekyll-hook
	url = https://github.com/developmentseed/jekyll-hook.git
