<nav>
<ul class="button-group radius even three-up">
	<li><a href="//twitter.com/jagelbeast" target="_blank" class="button"><i class="icon social foundicon-twitter"></i><span class="hide-for-small">Twitter</span></a></li>
	<li><a href="//soundcloud.com/jasonagel" target="_blank" class="button"><i class="icon foundicon-cloud"></i><span class="hide-for-small">SoundCloud</span></a></li>
	<li><a href="mailto:info@jasonagel.com?subject=Inquiry from JasonAgel.com" class="button email"><i class="icon foundicon-mail"></i><span class="hide-for-small">Email</span></a></li>
</ul>
</nav>
