<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js{% if page.splash %} splash{% endif %}" lang="en"> 
<!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css?v={{ site.cacheVersion }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,300,700|Roboto:700,700italic,400,400italic' rel='stylesheet' type='text/css'>
    <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.baseurl}}/blog.rss' />
    <meta name="google-site-verification" content="Op2aaQ5ndfrHJ0uIIvnftPQaAuYlCyswm5SfyReeqtM" />
    <!--[if lt IE 8]> 
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
      <link rel="stylesheet" href="{{site.baseurl}}/fonts/general_foundicons_ie7.css"/>
      <link rel="stylesheet" href="{{site.baseurl}}/fonts/social_foundicons_ie7.css"/>
    <![endif]-->
  </head>
  <body>



{{ content }}
    
    <script type="text/javascript">
      var _gas = _gas || [];
      _gas.push(['_setAccount', '{{ site.analytics.google.id }}']);
      _gas.push(['_setDomainName', '.jasonagel.com']); 
      _gas.push(['_trackPageview']);
      _gas.push(['_gasTrackOutboundLinks']);
      _gas.push(['_gasTrackMaxScroll']);
      _gas.push(['_gasTrackMailto']);

      (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = '//cdnjs.cloudflare.com/ajax/libs/gas/1.10.1/gas.min.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();
    </script>   
    <script src="{{site.baseurl}}/javascripts/app.js?v={{ site.cacheVersion }}"></script>
    <script>
      (function($){
        {% if page.splash %}
          $.backstretch("{{ page.splash }}");
        {% endif %}

        {% if page.soundcloudwidget %}
          SC.initialize({
            client_id: 'f735366b4a010224b2ab9d95634e94c1'
          });
        {% endif %}
      })(jQuery);
    </script>

  </body>
</html>