<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    <link rel="stylesheet" href="stylesheets/styles.css?v={{ site.cacheVersion }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,300,700|Roboto:700,700italic,400,400italic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 8]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
      <link rel="stylesheet" href="fonts/general_foundicons_ie7.css"/>
      <link rel="stylesheet" href="fonts/social_foundicons_ie7.css"/>
    <![endif]-->
    <script src="/javascripts/foundation.min.ours.js"></script>
  </head>
  <body>
    <div id=overlay></div>
    <section id=intro class="init">
      <header>
        <figure class="circle-photo">
          <img src="images/jay-photo.jpg" alt="Jason Agel - Mix Engineer, Audio Engineer" />
        </figure>
        <hgroup>
          <h1 class="heading">Jason Agel</h1>
          <h2 class="subheading">Mixing, Recording & Music Production</h2>
        </hgroup>
      </header>


{{ content }}
    
    </section>
    
    <script type="text/javascript">
      var _gas = _gas || [];
      _gas.push(['_setAccount', 'UA-38939605-1']);
      _gas.push(['_setDomainName', '.jasonagel.com']); 
      _gas.push(['_trackPageview']);
      _gas.push(['_gasTrackOutboundLinks']);
      _gas.push(['_gasTrackMaxScroll']);
      _gas.push(['_gasTrackMailto']);

      (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = '//cdnjs.cloudflare.com/ajax/libs/gas/1.10.1/gas.min.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();
    </script>   
    <script src="javascripts/app.js?v={{ site.cacheVersion }}"></script>

  </body>
</html>
